body,html {
	margin:0;
	height:100%;
	width:100%;
}

#map {
	height: 100%;
}

body {
	display: grid;
	grid-template-rows: 80px 1fr 50px;
	grid-template-columns: 300px 1fr;
	grid-template-areas: 
	"header header"
	"sidebar content"
	"footer footer";
}

.header {
	grid-area: header;
	padding:10px;
	background-color: #88acf4;
	color: rgb(255, 255, 255);
	font-size: 2em;
}

.sidebar {
    grid-area: sidebar;
    background-color: #487ad7;
    color: rgb(255, 255, 255);    
}

.content {
	grid-area: content;
}
.footer {
	grid-area: footer;
	padding:10px;
	background-color: rgb(14, 22, 252);
    color: rgb(151, 212, 255);
}